<ul class="list-group" [@staggerList]="notes().length">
    <li class="list-group-item d-flex justify-content-between" *ngFor="let note of notes()" @fadeIn @fadeDelete
        [@markComplete]="note.complete">
        <div>{{note.title}}</div>
        <div>
            <button type="button" class="btn btn-info btn-sm me-2" *ngIf="!note.complete"
                (click)="onComplete(note.id)">Complete</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(note.id)">Delete</button>
        </div>
    </li>
</ul>